

<head>
  <title>About the Team</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/plugins/fontawesome/css/all.css">
  <link rel="stylesheet" href="../static/css/style.css"/>
</head>
<style>
  .card-body-top {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #9096ad; /* Replace with the desired background color */
  }
</style>
<style>
  .card-body-bottom {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #9096ad; /* Replace with the desired background color */
    margin-top: -1px;
  }
</style>
<style>
  .nav-links {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
  .nav-links .separator {
    margin: 2.5px; /* Adjust the spacing around the separator */
    color: gray; /* Separator color */
    font-size: 1rem; /* Adjust the separator size */
    line-height: 1;
    display: flex;
    align-items: center;
  }
</style>
<style>
  .darkgray {
    background-color: #333333;
    color: #ffffff;
  }
  body {
    background-color: #121212;
  }
</style>
<link rel="stylesheet" href="../static/css/mainStyling.css">
<body>
  <!-- NAVIGATION MENU -->
  <nav class="navbar navbar-inverse topnav">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://ai-camp.org">
          <img src="../static/assets/TT_Logo.png">
        </a>
      </div>
      
      <div class="nav-links topnav" id='myNavbar'>
        <a href="/">Home</a>
        <span class="separator">|</span>
        <a href="/bio">About</a>
        <span class="separator">|</span>
        <a href="/intro">How It Works</a>
        <span class="separator">|</span>
        <a href="/demo">ASL Translator</a>
      </div>
    
    </div>
  </nav>
    
<!-- Header -->
<header class="bg-primary text-center py-5 mb-4 fs-5">
  <div class="container">
    <h1 class="fw-light text-white">Meet the Turbo-Tornadoes</h1>
  </div>
</header>

<section class="mbr-section mbr-section-small" id="features1-9" data-rv-view="41" style="background-color: transparent; padding-top: 6rem; ">

  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-3">
              <div class="card cart-block">
                  <div><img src="../static/assets/bio_images/ethan_image.jpg" class="card-img-top" style="height:200;width:200;"></div>
                  <div class="card-block">
                      <h4 class="card-title text-xs-center">Ethan Chan</h4>
                      <p class="card-text text-white">
                         Ethan is a student at Pine View Highschool. He likes physics, engineering, computerscience, and music. Worked on front and back-end. 
                      </p>
                      <div class="text-xs-center"><a target="_blank" href="" class="btn btn-secondary-outline">Linkedin</a></div>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3">
              <div class="card cart-block">
                  <div><img src="../static/assets/bio_images/allen_image.jpeg" class="card-img-top" style="height:200;width:200;"></div>
                  <div class="card-block">
                      <h4 class="card-title text-xs-center">Allen Chen</h4>
                      <p class="card-text text-white">Allen is one of the back-end developers on the team. He enjoys programming and hopes to continue his journey in the future.</p>
                      <div class="text-xs-center"><a target="_blank" href="" class="btn btn-secondary-outline">Linkedin</a></div>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3">
              <div class="card cart-block">
                  <div><img src="../static/assets/bio_images/william_image.jpg" class="card-img-top" style="height:200;width:200;"></div>
                  <div class="card-block">
                      <h4 class="card-title text-xs-center">William Grommet</h4>
                      <p class="card-text text-white">Student at Wahlert Catholic High School in Dubuque Iowa. William as a team member is very good at communication. He has great humor and is a great front end developer.</p>
                      <div class="text-xs-center"><a target="_blank" href="" class="btn btn-secondary-outline">Linkedin</a></div>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3">
              <div class="card cart-block">
                  <div><img src="../static/assets/bio_images/brrrandon.jpg" class="card-img-top" style="height:200;width:200;"></div>
                  <div class="card-block">
                      <h4 class="card-title text-xs-center">Brandon Matusek</h4>
                      <p class="card-text text-white">Student in a high school in California. The plan is to be a game designer or software engineer but making friends with AI in its early stages seems like a good idea.</p>
                      <div class="text-xs-center"><a target="_blank" href="" class="btn btn-secondary-outline">Linkedin</a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="mbr-section mbr-section-small" id="features1-g" data-rv-view="44" style="background-color: transparent;">

  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-3">
              <div class="card cart-block">
                  <div><img src="../static/assets/bio_images/Austin.jpg" class="card-img-top" style="height:200;width:200;"></div>
                  <div class="card-block">
                      <h4 class="card-title text-xs-center">Austin Perez</h4>
                      <p class="card-text text-white">Austin Perez is a student at Winter Haven High School. Austin loves Weightlifting and Programming. He enjoys working on Front End and plans to become a Software Engineer.</p>
                      <div class="text-xs-center"><a target="_blank" href="" class="btn btn-secondary-outline">Linkedin</a></div>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3">
              <div class="card cart-block">
                  <div><img src="../static/assets/bio_images/leo_image.jpg" class="card-img-top" style="height:200;width:200;"></div>
                  <div class="card-block">
                      <h4 class="card-title text-xs-center">
                          Leonardo Vallejo
                        </h4>
                      <p class="card-text text-white">Leonardo is a human, he likes the color black and hopes to travel to Jupiter in the next 3.582 years. He also appreciates the opportunity given to type about himself in the third-person.</p>
                      <div class="text-xs-center"><a target="_blank" href="https://www.youtube.com/watch?v=xvFZjo5PgG0" class="btn btn-secondary-outline">Linkedin</a></div>
                    
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3">
              <div class="card cart-block">
                  <div><img src="../static/assets/bio_images/travis_image_landscape.png" class="card-img-top" style="height:200;width:200;"></div>
                  <div class="card-block">
                      <h4 class="card-title text-xs-center">Travis Smalling</h4>
                      <p class="card-text text-white">Travis is one of our instructors; coming from a software-engineer Father, and a educator Mother, you could say working at AI Camp was destiny. In his free time Travis can be found building wild contraptions, playing esports, or sleeping... probably sleeping. </p>
                      <div class="text-xs-center"><a target="_blank" href="https://www.youtube.com/watch?v=xvFZjo5PgG0" class="btn btn-secondary-outline">Linkedin</a></div>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="card cart-block">
                <div><img src="../static/assets/ai_camp.png" class="card-img-top" style="height:200;width:200;"></div>
                <div class="card-block">
                    <h4 class="card-title text-xs-center">AI Camp</h4>
                    <p class="card-text text-white"> AI Camp teaches middle and high school students machine learning and career frameworks through real life experience. <br>Prepare for your major and career by joining us!</p>
                    <div class="text-xs-center"><a target="_blank" href="https://www.ai-camp.org" class="btn btn-secondary-outline">WEBSITE</a></div>
                </div>
            </div>
        </div>

      </div>
  </div>
</section>

</div>
</body>
